{% extends 'base.html' %}
{% block header_title %}Viáticos #{{ solicitud.pk }}{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb header-breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'viaticos_lista' %}">Viáticos</a></li>
    <li class="breadcrumb-item active">#{{ solicitud.pk }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="container-fluid py-3" style="max-width: 900px;">

    {% include 'viaticos/_detalle_cabecera.html' with icono='fa-plane-departure' lista_url='viaticos_lista' editar_url='viaticos_editar' devuelta_label='Devuelta por financiera:' %}

    {% include 'viaticos/_detalle_datos.html' %}

    {# Soportes en solo lectura: programación los consulta, financiera los gestiona #}
    {% if solicitud.soportes.all %}
    {% include 'viaticos/_soportes_card.html' with soportes=solicitud.soportes.all descargar_url='viaticos_soporte_descargar' %}
    {% endif %}

    {% include 'viaticos/_detalle_gastos.html' %}
</div>
{% endblock %}
