{% extends 'base.html' %}
{% block header_title %}Viáticos{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb header-breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
    <li class="breadcrumb-item">Operaciones</li>
    <li class="breadcrumb-item active">Viáticos</li>
</ol>
{% endblock %}

{% block header_center %}
<a href="{% url 'viaticos_crear' %}" class="btn btn-success btn-sm fw-bold">
    <i class="fas fa-plus me-1"></i> Nueva solicitud
</a>
{% endblock %}

{% block content %}
{% include 'viaticos/_lista_tabla.html' with detalle_url='viaticos_detalle' %}
{% include 'viaticos/_lista_js.html' %}
{% endblock %}
